$black: #001219;
$fadedBlack: rgba(0, 95, 115, 0.2);
$gray: #e9d8a6;
$lightgray: #ca6702;
$fadedBlue: rgba(148, 210, 189, 0.1);
$fadedGreen: rgba(40, 167, 69, 0.1);
$fadedRed: rgba(255, 7, 58, 0.1);
$brightBlue: #0a9396;
$brightRed: #ef105a;
$brightGreen: #30a755;
$brightYellow: #ee9b00;
$fadedYellow: #efef001f;
