.nav-container {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: flex-end;

  h3 {
    margin-right: auto;
    padding-left: 20px;
  }

  .button-container {
    margin-right: 2.7vw;
    display: flex;
    align-items: center;
    .standard-button {
      @include standard-button();
    }
  }
}
